@using Edu_Home.DAL.Entities
@{
    List<Event> events = Model;
}


@foreach (var newEvent in events)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-event mb-60">
            <div class="event-img">
                <a asp-controller="event" asp-action="details" asp-route-id="@newEvent.Id">
                    <img src="~/img/event/@newEvent.ImageUrl" style="width370px;height:250px;" alt="event">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
                <div class="event-date">
                    <h3>@newEvent.Start.ToString("MMM dd")</h3>
                </div>
            </div>
            <div class="event-content text-left">
                <h4><a asp-controller="event" asp-action="details" asp-route-id="@newEvent.Id">@newEvent.Title</a></h4>
                <ul>
                    <li><span>time:</span> @newEvent.Start.ToString("h:mm tt") - @newEvent.End.ToString("h:mm tt")</li>
                    <li><span>venue</span> @newEvent.Adress</li>
                </ul>
                <div class="event-content-right">
                    <a class="default-btn" asp-controller="event" asp-action="details" asp-route-id="@newEvent.Id">join now</a>
                </div>
            </div>
        </div>
    </div>
}